.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(43, 69, 146, 0.877);
    padding: 20px;
    padding-top: 30px;
    width: 440px;
    height: 450px;
    border-radius: 5%;
    margin-top: 100px;
    color: white;
}

.v1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.icon {
    display: flex;
}

.icon-div {
    display: flex;
    justify-content: space-between;
}

.humidity-area {
    display: flex;
    justify-content: space-between;
}

.main {
    margin: 0;
    padding: 0;
}

.search-area {
    display: flex;
    flex-direction: row;
}

.city {
    border-bottom: 1px solid #C0C0C0;
}

.search {
    height: 40px;
    width: 400px;
}

.submit {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.submit:hover {
    background-color: white;
    border: rgba(43, 69, 146, 0.877);
    color: rgba(43, 69, 146, 0.877);
}

.weather-main {
    display: flex;
    justify-content: space-between;
}

.temperature {
    margin-top: 20px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.temperature:hover {
    background-color: white;
    border: rgba(43, 69, 146, 0.877);
    color: rgba(43, 69, 146, 0.877);
}

.description-area {
    display: flex;
    justify-content: space-between;
}

.wind-area {
    display: flex;
    justify-content: space-between;
}