.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: royalblue;
    padding: 20px;
    width: 450px;
    height: 390px;
}

.v1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.icon {
    display: flex;
}

.icon-div {
    display: flex;
    justify-content: space-between;
}

.humidity-area {
    display: flex;
    justify-content: space-between;
}

.main {
    margin: 0;
    padding: 0;
}

.search-area {
    display: flex;
    flex-direction: row;
}

.city {
    border-bottom: 1px solid #C0C0C0;
}

.search {
    height: 40px;
    width: 200px;
}

.reload {
    width: 150px;
}

.weather-main {
    display: flex;
    justify-content: space-between;
}

.temperature {
    margin-top: 0;
    height: 40px;
}

.description-area {
    display: flex;
    justify-content: space-between;
}

.wind-area {
    display: flex;
    justify-content: space-between;
}